<div class="container-fluid">
  <div class="row">
    <div class="span6">
      <h3 id="page-top">FM onanie BBS</h3>
      <span><a href="#post-form">Create new thread</a></span>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="span9">
      <table id="tbl" class="table table-striped table-condensed">
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
        <% @sures.each_with_index do |sure, i| %>
          <tr class="threads">
            <td> <%= i+1 %> </td>
            <td> <%= link_to "#{sure.title} (#{sure.post_count})", sure_show_path(sure.id) %> </td>
            <td> <%= sure.created_at %> </td>
            <td> <%= sure.updated_at %> </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="span9">
    <h3 id="post-form">Create new thread</h3>
      <%= form_for(:new_sure, :url => {:controller => 'sure', :action => 'create'}, :html => { :class => 'form-horizontal' }) do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, name: :title, :placeholder => "title" %>
        </div>
        <%= f.fields_for(:posts) do |p| %>
        <div class="field">
          <%= p.label :name %><br>
          <%= p.text_field :name, name: :name, :placeholder => "name" %>
          </div>
          <div class="field">
          <%= p.label :content %><br>
          <%= p.text_area :content, name: :content, :placeholder => "content" %>
          </div>
        <% end %>
        <div class="form-actions">
        <%= f.submit "submit", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <span><a href="#page-top">go to the top</a></span>
    </div>
  </div>
</div>